<a href="https://colab.research.google.com/github/FaisalIqbal1547/MachineLearning/blob/main/tutorial10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from sklearn.datasets import load_iris
iris = load_iris()
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [3]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [4]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
# my data is in iris.data and we have arrange the data with features names in the column
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [5]:
#now I am adding the target

In [7]:
#here I am appending the df table
df['target'] = iris.target
df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2       0
1                4.9               3.0  ...               0.2       0
2                4.7               3.2  ...               0.2       0
3                4.6               3.1  ...               0.2       0
4                5.0               3.6  ...               0.2       0

[5 rows x 5 columns]

In [8]:
iris.target_names
#here we will get the target names means our output

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [14]:
df[df.target==0] # here I have 150 data and for setosa I have data from 0-50
df[df.target==1] # 50-99 we have data for versicolor
df[df.target==2] # 100-149 we have data for virginica

    sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                 5.1               3.5  ...               0.2       0
1                 4.9               3.0  ...               0.2       0
2                 4.7               3.2  ...               0.2       0
3                 4.6               3.1  ...               0.2       0
4                 5.0               3.6  ...               0.2       0
5                 5.4               3.9  ...               0.4       0
6                 4.6               3.4  ...               0.3       0
7                 5.0               3.4  ...               0.2       0
8                 4.4               2.9  ...               0.2       0
9                 4.9               3.1  ...               0.1       0
10                5.4               3.7  ...               0.2       0
11                4.8               3.4  ...               0.2       0
12                4.8               3.0  ...               0.1       0
13                4.3               3.0  ...               0.1       0
14                5.8               4.0  ...               0.2       0
15                5.7               4.4  ...               0.4       0
16                5.4               3.9  ...               0.4       0
17                5.1               3.5  ...               0.3       0
18                5.7               3.8  ...               0.3       0
19                5.1               3.8  ...               0.3       0
20                5.4               3.4  ...               0.2       0
21                5.1               3.7  ...               0.4       0
22                4.6               3.6  ...               0.2       0
23                5.1               3.3  ...               0.5       0
24                4.8               3.4  ...               0.2       0
25                5.0               3.0  ...               0.2       0
26                5.0               3.4  ...               0.4       0
27                5.2               3.5  ...               0.2       0
28                5.2               3.4  ...               0.2       0
29                4.7               3.2  ...               0.2       0
30                4.8               3.1  ...               0.2       0
31                5.4               3.4  ...               0.4       0
32                5.2               4.1  ...               0.1       0
33                5.5               4.2  ...               0.2       0
34                4.9               3.1  ...               0.2       0
35                5.0               3.2  ...               0.2       0
36                5.5               3.5  ...               0.2       0
37                4.9               3.6  ...               0.1       0
38                4.4               3.0  ...               0.2       0
39                5.1               3.4  ...               0.2       0
40                5.0               3.5  ...               0.3       0
41                4.5               2.3  ...               0.3       0
42                4.4               3.2  ...               0.2       0
43                5.0               3.5  ...               0.6       0
44                5.1               3.8  ...               0.4       0
45                4.8               3.0  ...               0.3       0
46                5.1               3.8  ...               0.2       0
47                4.6               3.2  ...               0.2       0
48                5.3               3.7  ...               0.2       0
49                5.0               3.3  ...               0.2       0

[50 rows x 5 columns]